@{
    ViewData["Title"] = "Florida Mission of Mercy";
}


<h1>@ViewData["Title"]</h1>

<h5>Florida Mission of Mercy (FLA-MOM) is a large-scale, two-day, professional dental clinic that provides care to any patient at no cost to them, with the goal of serving the under-served and uninsured in Florida - those who would otherwise go without care.</h5>

<p>Thank you so much for your time and help today.</p>